.blog-list-cards {
    display: flex;
    flex-wrap: wrap;
}
.blog-header h3:last-child {
    margin-bottom: 1rem;
}
.blog-header h3 {
    margin: 0;
}
@media screen and (min-width: 992px) {
    .blog-card--2col {
        width: 50%;
    }
}
@media screen and (min-width: 768px) {
    .blog-card {
        padding: .3125rem 0;
    }
}
.blog-card {
    display: flex;
    width: 100%;
}
@media screen and (min-width: 768px) {
    .blog-card__box {
        border-width: 1px;
    }
}
.blog-card__box {
    border: 1px solid #666666;
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0;
    border-width: 0 0 1px;
}
.blog-card__box h1 {
    font-size: 1.25rem;
    margin-top: 0;
    margin-bottom: 0.5rem;
    font-weight: 600;
}
.blog-card__box .entry-meta {
    font-size: .875rem;
    margin-top: 0.25rem;
}
.blog-card__box .entry-content {
    margin-left: 1rem;
}
.blog-card__box h1 {
    margin: 0;
}
.blog-card__box {
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    background-color: #363636;
    background-image: -moz-linear-gradient(top, #444444, #222222);
    background-image: -webkit-linear-gradient(top, #444444, #222222);
    background-image: -o-linear-gradient(top, #444444, #222222);
    background-image: linear-gradient(to bottom, #444444, #222222);
    background-repeat: repeat-x;
    border-color: #222222 #222222 #000000;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff444444', endColorstr='#ff222222', GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
       -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
            box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
}

@media (prefers-color-scheme: light) {
    .blog-card__box {
        background-color: #f5f5f5;
        background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6);
        background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6);
        background-image: -o-linear-gradient(top, #ffffff, #e6e6e6);
        background-image: linear-gradient(to bottom, #ffffff, #e6e6e6);
        background-repeat: repeat-x;
        border: 1px solid #cccccc;
        border-bottom-color: #b3b3b3;
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe6e6e6', GradientType=0);
        filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
        -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
           -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
                box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    }
}

@media print {
    .go-back {
        display: none !important;
    }
    .blog-card__box a {
        color: #000;
    }
    .blog-card__box {
        border: none;
        border-bottom: 1px solid black;
        text-shadow: none;
        box-shadow: none;
    }
}