
@media (min-width: 576px) {
    .container {
        max-width: 530px;
    }
}
@media (min-width: 768px) {
    .container {
        max-width: 720px;
    }
}
@media (min-width: 992px) {
    .container {
        max-width: 960px;
    }
}
@media (min-width: 1200px) {
    .container {
        max-width: 1140px;
    }
}

.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
@media (max-width: 576px) {
    .container {
        padding-right: 0;
        padding-left: 0;
    }
}

@media (min-width: 576px) {
    .container img {
        max-width: 500px;
    }
}
.container img {
    max-width: 100%;
}