@import "container.css";
@import "navbar.css";
@import "misc.css";
@import "bootstrap.css";
@import "bootstrap-label.css";
@import "bootstrap-tooltip.css";
:root {
    --text-font: Arial, Helvetica, sans-serif;
    --text-color: #fff;
    --background: #000;
    --link-color: #619eff;
}
@media (prefers-color-scheme: light) {
    :root {
        --text-color: #000;
        --background: #fff;
        --link-color: #1b40d1;
    }
}
@media print {
    :root {
        --link-color: black;
    }
}
body {
    font-family: var(--text-font);
    background-color: var(--background);
    background-image: url("/img/scrolling-bg.gif");
    background-repeat: repeat;
    background-size: 80px;
    color: var(--text-color);

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    word-wrap: break-word;
    overflow-wrap: break-word;

    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    margin:0;
}
:not(body, .container, .col, .row, .col-auto, .navbar, .no-anim) {
    transition: 300ms;
    transition-timing-function: ease;
}
.d-inline * {
    display: inline;
    margin-right: 0.25rem;
}
.block {
    padding: .875rem;
    margin: .1875rem 0;
    color: #fff;
    background-color: #1e1e1e;
    border-color: #fff;
    border-style: solid;
    border-width: 1px 0;
}
img:not(.allow-image-filtering) {
    image-rendering: auto;
    image-rendering: crisp-edges;
    image-rendering: pixelated;
    -webkit-user-select: none !important;
     -khtml-user-select: none !important;
       -moz-user-select: none !important;
         -o-user-select: none !important;
            user-select: none !important;

    /* Safari seems to support, but seems deprecated and does the same thing as the others. */
    /* image-rendering: -webkit-optimize-contrast; */
}
a {
    color: var(--link-color);
    text-decoration: none;
    background-color: transparent;
}
@media print {
    a {
        text-decoration: underline;
    }
}
a:hover {
    color: var(--link-color);
    text-decoration: underline;
}
.toolbar a:hover {
    text-decoration: none;
}
main {
    padding-top: 40px;
}

.homepage-txt {
    filter: invert();
    padding-right: 8px;
    transition: 200ms;
}
.navbar-items .homepage-txt {
    padding-top: 11px;
}
.card-header .img-sm {
    height: 16px;
    vertical-align: middle;
    padding-bottom: 2px;
    image-rendering: auto !important;
}

.card p {
    margin: 0;
    margin-bottom: 10px;
}
.card-body p:last-of-type {
    margin-bottom: 0;
}
.card-body ul {
    margin: 0;
    margin-bottom: 10px;
}

img[alt=rustlang-logo] {
    filter: invert();
}

img.label-icon {
    border: 0;
    vertical-align: middle;
}

@media screen and (max-width: 580px) {
    .homepage-txt {
        scale: 0;
        width: 0px !important;
        display: none;
        transition: 200ms;
    }
}

@media (prefers-color-scheme: light) {
    img[alt=rustlang-logo] {
        filter: none;
    }
    .homepage-txt {
        filter: none;
    }
    body {
        background-color: white;
        background-image: url("/img/scrolling-bg-invert.gif");
        color: black;
    }
    .block {
        color: #1e1e1e;
        background-color: #fff;
    }
}
@media print {
    img[alt=rustlang-logo] {
        filter: none;
    }
    .toolbar {
        display: none;
    }
    body {
        background-image: none;
        background: transparent;
    }
    *:not(a) {
        color: black !important;
    }
    main {
        padding-top: 0 !important;
        margin-top: 0 !important;
    }
}