@import "container.css";
@import "navbar.css";
@import "misc.css";
@import "bootstrap.css";
@import "bootstrap-label.css";
@import "bootstrap-tooltip.css";
:root {
    --text-font: Arial, Helvetica, sans-serif;
    --text-color: #dee2e6;
    --background: #121212;
    --link-color: #619eff;

    --small-text-size: calc(10px + (10px/3));

    --secondary-color: rgba(222, 226, 230, 0.75);
}
@media (prefers-color-scheme: light) {
    :root {
        --text-color: #121212;
        --background: #dee2e6;
        --link-color: #1b40d1;
        --secondary-color: rgba(33, 37, 41, 0.75);
    }
}
@media print {
    :root {
        --link-color: black;
    }
}
@media (prefers-reduced-motion: no-preference) {
    :root {
        scroll-behavior: smooth;
    }
}
body {
    font-family: var(--text-font);
    background-color: var(--background);
    background-image: url("/img/scrolling-bg.gif");
    background-repeat: repeat;
    background-size: 80px;
    color: var(--text-color);

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);

    word-wrap: break-word;
    overflow-wrap: break-word;

    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    margin:0;
}
:not(body, .container, .col, .row, .col-auto, .navbar, .no-anim) {
    transition: 300ms;
    transition-timing-function: ease;
}
pre,
code,
kbd,
samp {
    font-family: var(--bs-font-monospace);
    font-size: 1em;
}

pre {
    display: block;
    margin-top: 0;
    margin-bottom: 1rem;
    overflow: auto;
    font-size: 0.875em;
}
pre code {
    font-size: inherit;
    color: inherit;
    word-break: normal;
}
.d-inline * {
    display: inline;
    margin-right: 0.25rem;
}
.block {
    padding: .875rem;
    margin: .1875rem 0;
    color: #fff;
    background-color: #1e1e1e;
    border-color: #fff;
    border-style: solid;
    border-width: 1px 0;
}
img:not(.allow-image-filtering) {
    image-rendering: auto;
    image-rendering: crisp-edges;
    image-rendering: pixelated;
    -webkit-user-select: none !important;
     -khtml-user-select: none !important;
       -moz-user-select: none !important;
         -o-user-select: none !important;
            user-select: none !important;

    /* Safari seems to support, but seems deprecated and does the same thing as the others. */
    /* image-rendering: -webkit-optimize-contrast; */
}
a {
    color: var(--link-color);
    text-decoration: none;
    background-color: transparent;
}
@media print {
    a {
        text-decoration: underline;
    }
}
a:hover {
    color: var(--link-color);
    text-decoration: underline;
}
.toolbar a:hover {
    text-decoration: none;
}
main {
    padding-top: 40px;
}

.homepage-txt {
    filter: invert();
    padding-right: 8px;
    transition: 200ms;
}
.navbar-items .homepage-txt {
    padding-top: 11px;
}
.card-header .img-sm {
    height: 16px;
    vertical-align: middle;
    padding-bottom: 2px;
    image-rendering: auto !important;
}

.card p {
    margin: 0;
    margin-bottom: 6px;
}
.card-body p:last-of-type {
    margin-bottom: 0;
}
.card p:has(sub),
.card p:has(sup),
.card p:has(small) {
    line-height: var(--small-text-size);
    color: var(--secondary-color) !important;
}
.card-body ul {
    margin: 0;
    margin-bottom: 6px;
}

img[data-id=rustlang-logo] {
    filter: invert();
}

img.label-icon {
    border: 0;
    vertical-align: middle;
}

@media screen and (max-width: 580px) {
    .homepage-txt {
        scale: 0;
        width: 0px !important;
        display: none;
        transition: 200ms;
    }
}

@media (prefers-color-scheme: light) {
    img[data-id=rustlang-logo] {
        filter: none;
    }
    .homepage-txt {
        filter: none;
    }
    body {
        background-color: white;
        background-image: url("/img/scrolling-bg-invert.gif");
        color: black;
    }
    .block {
        color: #1e1e1e;
        background-color: #fff;
    }
}
@media print {
    img[alt=rustlang-logo] {
        filter: none;
    }
    .toolbar {
        display: none;
    }
    body {
        background-image: none;
        background: transparent;
    }
    *:not(a) {
        color: black !important;
    }
    main {
        padding-top: 0 !important;
        margin-top: 0 !important;
    }
}



.error-container {
    --bg-top: rgb(200,30,30);
    --bg-bottom: rgb(150,5,5);
    --shadow-top: rgba(255, 255, 255, 0.3);
    --shadow-bottom: rgba(0, 0, 0, 0.15);

    margin: 0.125rem 0.5rem;
    padding: 0.125rem 0.5rem;
    max-width: fit-content;
    border-radius: 0.5rem 0.125rem;

    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.3);
    background-image: -moz-linear-gradient(to bottom, var(--bg-top), var(--bg-bottom));
    background-image: -webkit-linear-gradient(to bottom, var(--bg-top), var(--bg-bottom));
    background-image: -o-linear-gradient(to bottom, var(--bg-top), var(--bg-bottom));
    background-image: linear-gradient(to bottom, var(--bg-top), var(--bg-bottom));
    
    -webkit-box-shadow: inset 0 1px 2px var(--shadow-top), 0 1px 2px var(--shadow-bottom);
       -moz-box-shadow: inset 0 1px 2px var(--shadow-top), 0 1px 2px var(--shadow-bottom);
            box-shadow: inset 0 1px 2px var(--shadow-top), 0 1px 2px var(--shadow-bottom);
}
@media (prefers-color-scheme: light) {
    .error-container {
        --bg-top: rgb(255,120,120);
        --bg-bottom: rgb(200,60,60);
        color: black;
    }
}
@media print {
    .error-container {
        display: none !important;
    }
}

.card-body hr {
    margin: 2px 0;
}


.portfolio-container {
    display: flex;
    align-content: space-around;
    justify-content: space-evenly;
    flex-direction: row;
    flex-wrap: wrap;
    --container-width: calc(100% - 30px);
}
.portfolio-container > .card {
    margin: 0.5rem 1rem;
    min-height: 0px;
    transition: 0s;
}
.portfolio-container .card-body {
    display: flex;
    flex-direction: column;
}
.portfolio-container .card-body .c-foot {
    margin-top: auto;
}
@media (min-width: 992px) {
    .portfolio-container {
        --container-width: calc(960px - 30px);
    }
    .portfolio-container > .card {
        width: calc((var(--container-width) / 2) - 2rem);
    }
}
@media (min-width: 1200px) {
    .portfolio-container {
        --container-width: calc(1140px - 30px);
    }
    .portfolio-container > .card {
        width: calc((var(--container-width) / 2) - 2rem);
    }
}
@media print {
    .portfolio-container > .card {
        width: 100%;
    }
}