.toolbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    padding: 4px 2px;
    background: rgba(0,0,0, 0.75);
    text-align: center;
}
.toolbar a img {
    height: 32;
    border: 1px solid white;
    padding-right: 2px;
}
.toolbar a img:hover {
    border-color: red;
}
.toolbar a img[current] {
    border-color: #036ffc;
}